# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so

# Django
*.log
local_settings.py
db.sqlite3
/media/
/staticfiles/

# Environments
.env
.venv/
venv/
ENV/

# Node
node_modules/
dist/
.build/
.cache/
*.tsbuildinfo

# Vite
vite.config.local.*

# Coverage / Reports
.coverage
coverage/
htmlcov/

# IDEs
.vscode/
.idea/
*.swp

# Misc
*.orig
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
