.atexp-con{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    gap:1em;
    align-items: center;
}
.atexp-con input[type=number]{
    width: 30%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
}